{% extends 'base.html' %}
{% load static %}

{% block content%}

<link href="{% static 'css/aboutme.css' %}" rel="stylesheet">
  <div class="ab_me_content">
    <h1>обо мне</h1>
    <h2>Привет! Я начинающий коллекционер винила и я предлагаю тебе пройти этот путь со мной!</h2>
    <h1>о моей коллекции</h1>
    <h2>На данный момент в моей коллекции 7 оригинальных пластинок и она составляет примерно 500 долларов. Слушаю я на вертаке pro-ject a1 (норм для новчика), винильница в сборке.</h2>
    <h1>о блоге</h1>
    <h2>Здесь ты можешь найти полезную информацию о поиске виниловых пластинок, о ценах: когда стоит переплатить, а когда нет, об ошибках новичка, да и просто почитать истории о поиске сокровищ.</h2>
  </div>
{% endblock %}